h1= title
p #{title}
div#mapContainer
div#infoContainer
	div#search
		input(type="text", name="doSearch")#searchForm
		button#searchButton
			span.button-txt Search
	ul#wikiResults
		li.insert i am results